<html xmlns:th="http://ww.thymeleaf.org">
<head>
	<title>Add Student</title>
	<meta http-equiv="content-Type" content="text/html;charset=UTF-8"/>
	<link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
	<h1>New student</h1>
	<div>
		<form th:object="${student}" th:action="@{save}" action="#" method="post">
			<input type="text" th:field="*{firstName}" class="form-control" placeholder="Firstname"/>
			<div style="clear:both; display:block; height:10px"></div>
			<input type="text" th:field="*{lastName}" class="form-control" placeholder="Lastname"/>
			<div style="clear:both; display:block; height:10px"></div>
			<input type="text" th:field="*{email}" class="form-control" placeholder="Email"/>
			<div style="clear:both; display:block; height:10px"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>
</body>
</html>